.img50 {
		width:50px;
		height:50px;
	}		
.img100 {
		width:100px;
		height:100px;
	}	
.img150 {
		width:150px;
		height:150px;
	}	
.img200 {
		width:200px;
		height:200px;
	}		
.recordExist
{
	color:#FF0000;
}	

.positionCounter
{
	display:inline-block;min-width:20px;
}

.smallInput1
{
	width:30px;
}
.smallInput2
{
	width:125px;
}

.largeDataWrapper {width: 500px;}

